* {
    box-sizing: border-box;
    margin: auto;
}

div {
    margin: 0;
    padding: 0;
}

#page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 75vh;
    max-height: 75vh;
    margin: 22px auto auto auto;
}

.menuLabels {
    color: white;
}

.default {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.square {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    border: lightgrey 1px solid;
}

.square:hover {
    background-color: #565656;
    opacity: 0.15;
}

#appControls {
    text-align: center;
}

.controlsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}