* {
    box-sizing: border-box;
    margin: auto;
}

div {
    margin: 0;
    padding: 0;
}

nav > ul > li > a {
    text-align: left;
}

#page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90vh;
    max-height: 90vh;
    margin: 22px auto auto auto;
}

#numSidesLabel {
    color: white;
}

.default {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.square {
    display: flex;
    flex-wrap: nowrap;
    border: grey 1px solid;
    margin: 0;
}

.square:hover {
    background-color: #565656;
    opacity: 0.15;
}

.once {
    background-color: #565656;
    opacity: 0.2;
}

.twice {
    background-color: #565656;
    opacity: 0.4;
}

.thrice {
    background-color: #565656;
    opacity: 0.6;
}

.four {
    background-color: #565656;
    opacity: 0.8;
}

.five {
    background-color: #565656;
}